body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box {
    margin-bottom: 10px;
}
.box label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
}
.box input, .box textarea {
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 7px 12px;
}

.btn {
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 7px 12px;
    margin-left: 90px;
}